@font-face {
    font-family: "maTypo";
    src: url(./imgs/dejavu-sans-mono/DejaVuSansMono.ttf);
}
@font-face {
    font-family: "maTypoOblique";
    src: url(./imgs/dejavu-sans-mono/DejaVuSansMono-BoldOblique.ttf);
}

@font-face {
    font-family: "maTypoH2";
    src: url(./imgs/Montserrat-Bold.ttf);
}



html{
    font-family: maTypo;
    text-align: center;
    padding: 0;
    margin: 0;
    
    background-image: url(./imgs/Fichier\ 4.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y:80px;
    background-attachment: fixed;

}

body{

    padding: 0;
    margin: 0;

    
    
}

header{
    background-color: #ff00007c;
    padding: 10px;
}

main{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    font-family: maTypoH2;
}


.paragraphe{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

p{
    max-width: 400px;
}
.agent{
    font-size: 22px;
}

.bold{
    font-family: "maTypoOblique";
}

#red{
    color: red;
}

.icone{
    height: auto;
    width: 30px;
}

#choices{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    justify-content: center;

}
button{
    background-color: #ff00007c;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    text-align: center;
}



button:active{
    background-color: rgba(243, 60, 60, 0.486);
}

#answer{
    border-radius: 15px;
    padding: 10px 10px;
}

#answer>*{
    margin-left: auto;
    margin-right: auto;
}

.failed{
    background-color: rgb(255, 40, 40);

}

.success{
    background-color: rgb(72, 196, 72);
}